.Menu {
  text-align: center;
}
.AddCandidate {
  margin-right: 10px;
}

.SubmitButton {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.CandidateName {
  margin-right: 12px;
}

.CandidateAddress {
  padding: 5px;
}

.MenuLink {
  position: absolute;
  right: 5px;
  top: 20px;
}

.CandidateDiv {
  margin-top: 10px;
}

.CandidateInput {
  padding: 5px;
}

.TableHeader {
  margin-left: 40%;
}

.AddressCandidate {
  padding-left: 100%;
}
